*[scope-hero-main] {
  .container #name p {
    font-weight: 800;
    font-size: 2.3rem;
    margin-bottom: 0;
    letter-spacing: 0.1rem;
  }

  .container #subtitle p {
    font-weight: lighter;
    font-size: 1.5rem;
    letter-spacing: 0.15rem;
  }

  .fpc-container {
    min-height: 100vh;

    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }

  h1 {
    margin-bottom: 2rem;
  }

  h2 > a {
    word-break: break-all;
  }

  .subtitle h2 {
    color: $white;
    margin-bottom: 0.05rem;
  }

  .subtitle p {
    font-weight: 200;
    letter-spacing: 0.1rem;
  }

  .fpc-container .container {
    border-left: 2px solid #fff;
  }

  @media (max-width: var(--breakpoint-md)) {
    .fpc-container:first-of-type {
      padding-top: 10rem;
    }
  }
}

*[scope-page-title] {
  .line {
    border: 1px solid #ffffff;
    max-height: 0;
    width: 100%;
  }

  h1,
  p {
    margin: 0;
  }
}

[scope-icon-card] {
  p {
    margin-bottom: 0;
  }
}
