@import "../bootstrap/4.6.1/scss/functions";
@import "../bootstrap/4.6.1/scss/variables";
@import "../bootstrap/4.6.1/scss/mixins";

$primary: #2d142c;
$secondary: #929292;
$accent: #3d2f97;

$success: #1f8b38;
$danger: #c02e3c;
$warning: #dea908;
$info: #1491a5;
$light: #e9e9e9;
$dark: #313539;
$white: #ffffff;

$glass: #4E354D;

$text: #d7d7d7;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "accent": $accent,
  
  "success": $success,
  "danger": $danger,
  "warning": $warning,
  "info": $info,
  "light": $light,
  "dark": $dark,
  "white": $white,

  "glass": $glass
);
